@media (min-width: 100px) and (max-width: 991px) {

/*** Mobile banner padding top css start ***/
.mobile-banner{
	margin-top:25px;
}
/*** Mobile banner padding top css start ***/


/*** first banner css Start **/
.caption-title1{
     position: absolute; 
     top: 25px;
     left: 5%; 
     color: #fff;
	 font-size:20px;
	 font-family: Georgia, serif;
	 font-weight:600;
}


.caption-title2{
     position: absolute; 
     top: 55px;
     left: 5%; 
     color: #fff;
	 font-size:20px;
	 font-family: Georgia, serif;
	 font-weight:600;
}

.price-title1{
	color:#ffbe13;
	 font-family: Verdana, sans-serif;
	
}

.caption-title3{
     position: absolute; 
     top: 88px;
     left: 5%; 
     color: #fff;
	 font-size:20px;
	 font-family: Arial Narrow;
	 font-weight:600;
}

.caption-button1{
    position: absolute;
    top: 128px;
    left: 5%;
    background: #ffbe13;
    color: #000;
    font-size: 14px;
    font-family: Arial Narrow;
    font-weight: 600;
    width: 120px;
    text-align: center;
}

.caption-button2{
    position: absolute;
    top: 168px;
    left: 5%;
    background: #ffbe13;
    color: #000;
    font-size: 14px;
    font-family: Arial Narrow;
    font-weight: 600;
    width: 120px;
    text-align: center;
}

.caption-button3{
    position: absolute;
    top: 207px;
    left: 5%;
    background: #ffbe13;
    color: #000;
    font-size: 14px;
    font-family: Arial Narrow;
    font-weight: 600;
    width: 120px;
    text-align: center;
}


.caption-button4{
    position: absolute;
    top: 250px;
    left: 2%;
    background: #3b6410;
    color: #fff;
    font-size: 13px;
    font-family: Arial Narrow;
    font-weight: 600;
    width: 350px;
    text-align: center;
	border-radius:25px;
}

/*
.caption-button4{
    position: absolute;
    top: 247px;
    left: 2%;
    background: #3b6410;
    color: #fff;
    font-size: 15px;
    font-family: Arial Narrow;
    font-weight: 600;
    width: 350px;
    text-align: center;
	border-radius:25px;
} */

.phone-title1{
	 font-size:16px;
}


/*** first banner css End **/

/***  SECOND BANNER CSS START ***/
.caption2-title1{
     position: absolute; 
     top: 25px;
     left: 5%; 
     color: #fff;
	 font-size:18px;
	 font-family: Georgia, serif;
	 font-weight:600;
}

.caption2-title3{
     position: absolute; 
     top: 55px;
     left: 5%; 
     color: #fff;
	 font-size:20px;
	 font-family: Arial Narrow;
	 font-weight:600;
}

.caption2-button1{
    position: absolute;
    top: 128px;
    left: 5%;
    background: #ffbe13;
    color: #000;
    font-size: 14px;
    font-family: Arial Narrow;
    font-weight: 600;
    width: 120px;
    text-align: center;
}

.caption2-button2{
    position: absolute;
    top: 168px;
    left: 5%;
    background: #ffbe13;
    color: #000;
    font-size: 14px;
    font-family: Arial Narrow;
    font-weight: 600;
    width: 120px;
    text-align: center;
}


.caption2-button3{
    position: absolute;
    top: 207px;
    left: 5%;
    background: #ffbe13;
    color: #000;
    font-size: 14px;
    font-family: Arial Narrow;
    font-weight: 600;
    width: 120px;
    text-align: center;
}

.caption2-button4{
    position: absolute;
    top: 250px;
    left: 2%;
    background: #3b6410;
    color: #fff;
    font-size: 13px;
    font-family: Arial Narrow;
    font-weight: 600;
    width: 350px;
    text-align: center;
	border-radius:25px;
}


.phone2-title1{
	 font-size:16px;
}

/***  SECOND BANNER CSS END ***/


}