.text-bold
{
	font-weight:600;
}


.cardbg1{
	background:#FF0000;
}

.cardbg2{
	background:#3D2C8D;
}

.cardbg3{
	background:#FFD700;
}
.cardbg4{
	background:#219897;
}


.cardbg5{
	background:#FB2576;
}

.cardbg6{
	background:#39065A;
}

.cardbg7{
	background:#00ADB5;
}
.cardbg8{
	background:#932B77;
}

.cardbg9{
	background:#FFD93D;
}

.cardbg10{
	background:#576CBC;
}

.cardbg11{
	background:#27E1C1;
}
.cardbg12{
	background:#E90064;
}